<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcel Form</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill out your package dimensions below:</h1>
    <form action='/receipt'>
      <div class='form-group'>
        <label for='height'>Height (inches)</label>
        <input id='height' name='height' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun'>Width (inches)</label>
        <input id='width' name='width' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn-btn-success'>Go!</button>
    </form>
  </body>
</html>
