<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcel Info</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Your parcel is pending shipment. The shipping cost is:</h1>
    <p>
      $ @Model.CostToShip();
    </p>
  </body>
</html>
